.catalogue {
	position: relative;

	min-height: 100vh;
	margin: 0 auto;
	padding-block-start: 1.5rem;
}

.logo_wrapper {
	margin-block-end: 2rem;
	display: flex;
	justify-content: center;
}

.button_order_wrapper {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 1.5rem;
	z-index: 2;
}